/* Alice Liu 2017 */
/* Alterations to Bootstrap code; some code taken from www.w3schools.com */

/* set the font to Helvetica */
body {
	font-family: "Helvetica", Sans-Serif;
}


/* details for the header; taken from 
https://stackoverflow.com/questions/11525132/css-centred-header-image */
div#wrapperHeader {
 width:100%;
 height: 100%;
 background:url(images/header.png) repeat-x 0 0;
 text-align:center;
}

div#wrapperHeader div#header {
 width:100%;
 height: 100%;
 margin:0 auto;
}

div#wrapperHeader div#header img {
 width: 100%;
 height: 100%; 
 margin:0 auto;
}

/* set the color of unclicked links to green */
a {
	color: green;
}

/* set the color of visited links to dark green */
a.visited {
	color: #d2f2d9;
}

/* reset the default navbar alignment */
.navbar {
	margin-bottom: 0;
	border-radius: 0;
	background-color: #0d661f;
}

/* hovering over a bar turns the background light green and text dark green */
.nav.navbar-nav>li a:hover {
	color: #0d661f;
	background-color: #d2f2d9;
}

/* active navbars are black with white text */
.nav.navbar-nav>.active>a, 
 .nav.navbar-nav>.active>a:hover,
 .nav.navbar-nav>.active>a:focus {
	color: white;
	background-color: black;
}

/* make the links in the navbar white */
.nav.navbar-nav li a {
    color: white;
}

 /* set height of the grid so .sidenav can be 100% */
.row.content {height: 450px}

/* make sidebars be light green and 20px away from everything else */
.sidenav {
	background-color: #d2f2d9;
	height: 100%;
	padding: 20px;
}

/* where a sidebar is enlarged, left-align the text */
.sidenav.col-sm-4 {
	text-align: left;
	height: 100%;
}

/* footer is dark green with white text */
footer {
	background-color: black;
	color: white;
	padding: 20px;
	width: 100%;
}

/* adjust to smaller screens */
@media screen and (max-width: 767px) {
	.sidenav {
	  height: auto;
	  padding: 15px;
	}
	.row.content {height:auto;} 
}

/* make buttons dark green */
button {
	text-align: center;
	background-color: #0d661f;
	color: white;
}

/* color of navbar title */
.navbar-default .navbar-brand {
    color: #d2f2d9;
    background-color: black;
}

.navbar-default .navbar-brand:hover {
	color: white;
	background-color: black;
}