/* Alice Liu 2017 */
/* Alterations to Bootstrap code; some code taken from www.w3schools.com */

/* Some hex codes for reference:
	Dark orange:  #b6391f;
	Light orange:  #f4bcb0 ;
	Orange:  #e45a3c;
	Dark green: #0d661;
	Light green: #d2f2d9;
	Green: green; */

/* Main content */
.main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
}

/* set the font to Helvetica */
body {
	font-family: "Helvetica", Sans-Serif;
	height: 100%;
}

/* details for the header; taken from 
https://stackoverflow.com/questions/11525132/css-centred-header-image */
div#wrapperHeader {
 width:100%;
 height: 100%;
 background:url(images/header.png) repeat-x 0 0;
 text-align:center;
 /*padding-top: 50px;*/
}

div#wrapperHeader div#header {
 width:100%;
 height: 100%;
 margin:0 auto;
}

div#wrapperHeader div#header img {
 width: 100%;
 height: 100%; 
 margin:0 auto;
}

/* set the color of unclicked links to standard color */
a {
	color: #e45a3c;
}

/* set color of hovered links to dark */
a:hover {
	color: #b6391f;
}

/* set the color of visited links to dark */
a.visited {
	color: #b6391f;
}

/* reset the default navbar alignment; help from w3schools website */
.navbar {
	margin-bottom: 0;
	border-radius: 0;
	background-color: #b6391f;
	/*position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */*/
    width: 100%; /* Full width */
    overflow: hidden
}

/* border of the hamburger menu is white */
.navbar-default .navbar-toggle {
	border-color: white;
}

/* change background color when hovered */
.navbar-default .navbar-toggle:hover {
    background-color: black;
}

/* color of lines in hamburger menu */
.navbar-default .navbar-toggle .icon-bar {
    background-color: #f4bcb0;
}

/* hovering over a bar turns the background light and text dark */
.nav.navbar-nav>li a:hover {
	color: #b6391f;
	background-color: #f4bcb0;
}

/* active navbars are black with white text */
.nav.navbar-nav>.active>a, 
 .nav.navbar-nav>.active>a:hover,
 .nav.navbar-nav>.active>a:focus {
	color: white;
	background-color: black;
}

/* make the links in the navbar light */
.nav.navbar-nav li a {
    color: #f4bcb0;
}

/* color of navbar title */
.navbar-default .navbar-brand {
    color: #f4bcb0;
    background-color: #b6391f;
}

/* change colors of navbar title when hovered */
.navbar-default .navbar-brand:hover {
	color: white;
	background-color: black;
}

 /* set height of the grid so .sidenav can be 100% */
.row.content {height: 450px}

/* make sidebars be light and 20px away from everything else */
.sidenav {
	background-color: #f4bcb0;
	height: 100%;
	padding: 20px;
	padding-bottom: 0px;
}

/* where a sidebar is enlarged, left-align the text */
.sidenav.col-sm-4 {
	text-align: left;
}

/* footer is black with white text */
footer {
	background-color: black;
	color: white;
    width: 100%;
    height: 20px;
    right: 0;
    left: 0;
	/*position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 20px;
	text-align: center;*/
}

/* hover color of the table is light */
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #f4bcb0;
}

/* number inputs scale to fit */
input[type=number]{
    width: 100%;
} 

/* alignment of images */
.image
{
    float: left;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
}

/* border for images on the projects page */
.col-sm-8 img {
    border: 2px solid #b6391f;
    background-color: #f4bcb0;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

/* adjust to smaller screens */
@media screen and (max-width: 767px) {
	.sidenav {
	  height: auto;
	  padding: 15px;
	}
	.row.content {height:auto;} 
}

/* make buttons dark */
button {
	text-align: center;
	background-color: #b6391f;
	color: white;
}

